.title span {
  font-size: 2rem;
  font-weight: 500;
}

.chat {
  position: relative;
  /* height: 70%; */
  background-color: #d7d7d5;
}

.title img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 7%;
  position: relative;
  background: white;
  padding: 4px;
}



.send {
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  gap: 10px;
  height: 20px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.send input {
  flex: 1;
  border-radius: 25px;
  padding: 10px 10px;
  border: 1px solid #ddd;
}

/* .send input {
  width: 100%;
  border: white;
  outline: white;
} */

.send-img input {
  width: 40px;
  height: 40px;
  /* position: absolute; */
  opacity: 0;
}

.send-img {
  position: relative;
  height: 40px;
  width: 40px;
}

.send-img svg {
  width: 40px;
  height: 40px;
  position: absolute;
}

/* send-button */

/* .send-btn {
  width: 75px;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
  background-color: #3653f8;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.send-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.send-btn {
  background: rgb(3, 169, 244);
  background: linear-gradient(
    138deg,
    rgba(3, 169, 244, 1) 15%,
    rgba(63, 180, 233, 1) 65%
  );
  position: relative;
  cursor: pointer;
  font-size: 17px;
  padding: 0.7em 0.7em;
  border-radius: 50px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.send-btn:hover {
  background: #fff;
  transition: all 0.6s;
}
.send-btn .text {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
  transition: all 0.2s;
}
.send-btn:hover .text {
  fill: rgb(3, 169, 244);
  transition: all 0.6s;
}

.emoji-picker {
  cursor: pointer;
}

.chat-msg {
  position: relative;
  gap: 10px;
  width: 100%;
  height: 82%;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

/* send message  */
.receive-msg > .msg {
  padding: 4px;
  background: #5b80f6bd;
  border-radius: 8px 8px 8px 0;
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  flex-flow: column;
}
.receive-msg {
  display: flex;
  position: relative;
  align-self: flex-start;
  height: fit-content;
  padding: 3px;
  gap: 6px;
}

.receive-msg > .msg-profile > img {
  width: 20px;
}

.receive-msg > .msg-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.receive-msg > .msg-profile > span {
  font-size: 0.6rem;
}

/* receive message */

.send-msg {
  display: grid;
  position: relative;
  align-self: flex-end;
  height: fit-content;
  padding: 3px;
  gap: 6px;
  grid-template-areas: "msg msg-profile";
}

.send-msg > .msg-profile > img {
  width: 20px;
}

.send-msg > .msg-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  grid-area: msg-profile;
}

.send-msg > .msg-profile > span {
  font-size: 0.6rem;
}

.send-msg > .msg {
  padding: 4px;
  background-color: white;
  border-radius: 8px 8px 0 8px;
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 300;
  grid-area: msg;
  display: flex;
  flex-flow: column;
}

.no-chat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-chat img {
  width: 300px;
  height: 300px;
}

.no-chat > div {
  width: 500px;
  align-items: center;
  display: flex;
  flex-flow: column;
}

.no-chat span {
  font-weight: 100;
}

.msg {
  min-width: 60px;
  padding: 1px;
}

.time {
  font-size: 11px;
  font-weight: 100;
  align-self: flex-end;
}
