.left-sec {
  position: relative;
  background-color: #32465a;
  background-color: #2c3e50;
  /* height: 70%; */
  color: white;
}

.search-bar input {
  position: relative;
  width: 100%;
  background: none;
  text-align: center;
  border: none;
  outline: none;
}

.search-bar img {
  position: absolute;
  left: 10px;
  top: 25%;
}

.search-bar {
  margin: 4px 0;
  height: 7%;
  display: flex;
  position: relative;
  width: 100%;
  border-radius: 25px;
  transition: 0.3s ease;
  justify-content: space-evenly;
}

.search-bar input:focus {
  outline: none;
}

.line {
  height: 1px;
  width: 100%;
  background-color: black;
}

.friend-info {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  width: auto;
  padding: 2px 6px;
}

.friend {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: 99%;
  /* margin: 4px 0; */
  height: 52px;
  background: transparent;
  color: white;
}

.friend:hover {
  box-shadow: 0 2px 4px rgba(0.1, 0.1, 0, 0.1);
  background-color: #32465a;
  width: 100%;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.friend:hover .friend-btn {
  background-color: #f0f0f0;
}

.friend-btn {
  height: 16px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e7e8f0;
  cursor: pointer;
}
.circle {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #000000;
}

.delete {
  position: absolute;
  right: 35px;
  width: 60px;
  box-shadow: 0 2px 4px rgba(0.1, 0.1, 0, 0.1);
  text-align: center;
  border-radius: 5px;
  bottom: 5px;
  display: none;
  transition: all 0.3s ease-out;
}

.friends-list {
  max-height: 80vh;
  overflow-y: auto;
}

.no-user {
  display: flex;
  width: 100%;
  font-size: 14px;
  font-weight: 100;
  justify-content: center;
}

.userInfo {
  display: flex;
  flex-flow: column;
}
.lastMsg {
  font-size: 12px;
  font-weight: 100;
  color: #9a96af;
}

.profile-letter {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e7e8f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #2c3e50;
}

.user_profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  gap: 2px;
  position: relative;
  width: 100%;
}

.space-between:nth-child(2) {
  width: 30px;
}

.user_profile:hover {
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.input-none {
  position: absolute;
  right: 38px;
  align-self: center;
  width: 230px;
  max-width: 400px;
  transition: .3s ease;
  display: flex;
  gap: 3px;
}

.input-none input {
  height: 28px;
  border-radius: 20px;
  backdrop-filter: blur(1px);
  color: white;
  background: transparent;
  width: 200px;
  border: none;
  outline: none;
  display: flex;
  font-size: .9rem;
}
.input-none span {
  background: black;
  display: block;
  height: 28px;
  width: 1px;
  right: 200px;
  max-width: 400px;
  position: absolute;
  transition: 0.3s ease;
  right: -200;
}
