.right-sec {
  position: relative;
  background-color: #32465a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.current-friend {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.status {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #5cb25c;
  top: 0;
  right: 25px;
}

.edit {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.logout-btn {
  bottom: 5%;
  position: absolute;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #3653f8;
  font-weight: bold;
  height: 35px;
  width: 80px;
  font-size: 15px;
  cursor: pointer;
}

.logout-btn:hover {
  font-size: 16px;
  border: none;
  width: 81px;
  height: 36px;
  transition: all 0.1s ease-in-out;
  box-shadow: 2px 2px 7px rgb(86, 83, 83);
}


.profil-max {
  width: 65px;
  height: 65px;
  font-size: 40px;
}