.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-flow: column;
  /* height: 100vh; */
}

.profile-container {
  width: 30%;
  margin-top: 40px auto;
  /* border-radius: 10px; */
  background-color: #ffffff;
  padding: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.profile-submit {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: none;
  outline: black;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: royalblue;
  cursor: pointer;
  align-self: center;
}

.content__form {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  justify-content: center;
  align-items: center;
}

.content__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.content__form label {
  border: 1px solid rgb(219, 219, 219);
  display: flex;
  align-items: center;
  position: relative;
  min-width: 268px;
  height: 38px;
  background: rgb(250, 250, 250);
  border-radius: 3px;
}

.text-lable {
  position: absolute;
  text-overflow: ellipsis;
  transform-origin: left;
  font-size: 12px;
  left: 8px;
  pointer-events: none;
  transition: transform ease-out 0.1s;
}

.content__form input {
  width: 100%;
  background: inherit;
  border: 0;
  outline: none;
  padding: 9px 8px 7px 8px;
  text-overflow: ellipsis;
  font-size: 16px;
  vertical-align: middle;
}

.content__form input:valid + span {
  transform: scale(calc(10 / 12)) translateY(-10px);
}

.content__form input:valid {
  padding: 14px 0 2px 8px;
  font-size: 12px;
}

.content__form button {
  background: rgb(0, 149, 246);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  padding: 7px 16px;
  cursor: pointer;
  width: 80px;
}

.content__form button:hover {
  background: rgb(24, 119, 242);
}

.content__form button:active:not(:hover) {
  background: rgb(0, 149, 246);
  opacity: 0.7;
}

.error-msg {
  font-size: small;
  color: red;
  display: none;
}

.profile_images_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto;
  width: 100%;
}
.profile_images_container img{
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
  width: 150px;
  height: 240px;
  object-fit: cover;
}

.profile_images_container:hover img {
  filter: blur(3px) brightness(0.7);
  transform: scale(1);
  opacity: 0.6;
}

.profile_images_container img:hover {
  transform: scale(1.2);
  filter: none;
  opacity: 1;
  z-index: 1;
}
.container {
  display: flex;
  gap: 10px;
}

.container img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}
